body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  nav {
    background-color: white;
    overflow: hidden;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
  }
  #gmail-icon{
    align-items: center;
    display: inline;
    padding: 0;
    padding-top: 10px;
    align-items: center;
    margin: auto;
  }
  #gmail-img{
    border-radius: 20px;
  }
  nav ul li a:hover {
    border-bottom: 1px solid;
  }
  #google-logo{
    height: 100px;
    margin-top: 40px;
  }
   #mid-sect{
    margin: auto;
    align-content: center;
    text-align: center;
   }
   #input-sect{
    display: flex;
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
    border: solid;
    border-radius: 30px;
    align-items: center;
   }
   #input-sect input{
    margin: auto;
    border: none;
   }
   #input-sect input::selection{
    border: none;
   }
   form{
    display: block;
    margin-top: 70px;
   }
   input{
    width: 400px;
    height: 27px;
    border-radius: 20px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
   }
   #top-icon-1{
    width: 20px;
    height: 20px;
    padding: 6px;
   }
   #top-icon-2{
    width: 20px;
    height: 20px;
    padding: 6px;
   }
   #top-icon-3{
    width: 20px;
    height: 20px;
    padding: 6px;
   }
   h3 a{
    text-decoration: none;
    color: #1a0dab;
    padding: 5px;
    font-size: small;
    line-height: 28px;
   }
   h3 a:hover{
    border-bottom: solid 1px;
   }
   button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    
   }
   button:hover{
    border: solid 1px #f6f0f0 ;
    box-shadow: #f0f1ef;
   }
   footer{
     position: fixed;
    bottom: 0;
    width: 97%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    background-color: #f2f2f2;
   }
   #naija{
    display: block;
    width: 100%;
    height: 30px;
   }
   #naija p{
     padding-top: 3px;
   }
  #footer-bottom{
    display: flexbox;
  }
  #footer-left{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
  }
  #footer-left li{
    display: inline;
    padding: 5px;
   }
   #footer-left li a{
    text-decoration: none;
    color: black;
   }
   #footer-left li a:hover{
    border-bottom: 1px solid;
   }
   #footer-right{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
   }
   #footer-right li{
    display: inline;
    padding: 5px;
   }
   #footer-right li a{
    text-decoration: none;
    color: black;
   }
   #footer-right li a:hover{
    border-bottom: 1px solid;
   }
   #footer-center{
    text-align: center;
    margin-left: 100px;
    display: inline;
   }